body{
    /*background:rgb(224, 89, 89);*/
    margin:0%;
}
.topo{
    background:rgb(253, 182, 89);
    height: 200px;
    padding: 30px 0;
    color:black;
}
.topo ul{
    display: flex;
    width:100%;
    justify-content: space-around;
    background:#000;
    margin:0;
}
.topo li{
    list-style: none;
}
.topo li a{
    text-decoration: none;
    color:#FFF;
    padding: 10px;
   display: flex;
}
.topo li a:hover{
    text-decoration: underline;
}
.corpo{
    background: rgb(224, 108, 12);
    text-align: center;
    min-height: 300px;
}
.rodape{
    background: rgb(12, 134, 190);
    height: 150px;
    padding: 30px;
    color:black;
}
